h1 {
    display: inline-block;
    color: white;
    text-align: center;
    background-color: hsl(0,100%,50%);
    padding: 16px;
    margin: 16px;
    min-width: 12px;
    height: 32px;
    border-radius: 8px;
    font-family: "Roboto", "Arial", sans-serif;
    }

#primary-link {
    font-size: 8px;
}

.text-white{
    color: black;
}

.bodyhead {
    color: white;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: hsl(0,100%,50%);
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}

.bodyIndex1 {
    color: white;
    display: inline-block;
    min-width: 12px;
    height: 32px;
    background-color: black;
    border: 1px solid black;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 8px 12px;
    margin: 12px;
    border-radius: 8px;
}


.bodyIndex2 {
    color: black;
    display: inline-block;
    min-width: 12px;
    height: 32px;
    background-color: white;
    border: 1px solid black;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 8px 12px;
    margin: 12px;
    border-radius: 8px;
    transition: all 0.9s;
}

.bodyIndex2:hover {
    color: white;
    display: inline-block;
    min-width: 12px;
    height: 32px;
    background-color: black;
    border: 1px solid black;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 8px 12px;
    margin: 12px;
    border-radius: 8px;
    transition: all 0.3s;
}

.bodyIndex3 {
    width: 100px;
    height: 100px;
    background-color: #FFCC33;
    border: 1px solid black;
}

.bodyIndex4 {
    width: 100px;
    height: 100px;
    background-color: hsl(0,75%,50%);
    border: 1px solid black;
}

.bodyIndex5 {
    width: 100px;
    height: 100px;
    background-color: hsl(0,50%,50%);
    border: 1px solid black;
}

.bodyIndex6 {
    width: 100px;
    height: 100px;
    background-color: hsl(0,25%,50%);
    border: 1px solid black;
}

.hide{
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 32px;
    row-gap: 16px;
    grid-template-areas: 
    "header header header"
    "menu main right"
    "menu footer footer"
    ;
    padding: 16px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 300px auto 200px;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.item, .item-special {
    background-color: blue;
    padding: 32px;
}

.item-special {
    grid-area: 1 / 2 / span 4 / span 4;
}

